{% extends 'base.html' %}

{% block content %} 

<main class="main main--about">

    <p>Hello, world! My name is <strong>Matheus Pantunes</strong> and I am a web developer from Brazil.
        After more than 6 years of working in book designing, I've decided to pursue an old passion: computers!</p>
    
    <p>In 2022, I've started my studies on <strong>Web Development</strong> and, here at my portfolio, you can have a look
        at my greatest projects so far. I am passionate about Python/Web and my focus is to 
        learn from the best.</p>
    
    <p>So far, I've concluded <strong>Harvard's CS50</strong> and took certifications 
        on <a href="https://www.udemy.com/certificate/UC-1512d5cf-228f-43f0-8f21-156731f0783c/" target="_blank"><strong>Flask Web Development</strong></a> and <a href="https://www.scrumstudy.com/certification/verify?type=SFC&number=960552" target="_blank"><strong>SCRUM Fundamentals</strong></a>.
        I also have <a href="https://www.efset.org/cert/QQKJU7" target="blank"><strong>certified english</strong></a> and, right now, I am about to finalize <strong>Harvard's CS50P</strong>.</p>


    <p>My areas of interest includes: <strong>Python</strong>, <strong>Flask</strong>, <strong>HTML5</strong>, <strong>CSS3</strong>, <strong>JavaScript</strong>, <strong>MongoDB</strong> and <strong>SQLite3</strong>. 
        And my next step will be learning <strong>Django</strong>.
    </p>
    


</main>

{% endblock %}