{% extends 'base.html' %}

{% block content %} 

<main class="main main--about">

    <p>Hello, world! My name is <strong>Matheus Pantunes</strong> and I am a Front-End Developer from Brazil 🇧🇷.</p>
    
    <h3>My story 💬</h3>
    
    <p>After more than 6 years of working in book designing, I've decided to pursue an old passion: computers!</p>
    
    <p>In 2022, I started Harvard's CS50 and just after the course I was already focusing on Web Development. I am passionate about the web!</p>
    
    <p>Since, I've been learning from the best. So far, I've concluded:</p>
        <ul>      
            <li><a href="https://www.udemy.com/certificate/UC-1512d5cf-228f-43f0-8f21-156731f0783c/" target="_blank"><strong>Web Developer Bootcamp with Flask and Python in 2023</strong></a></li>
            <li><a href="https://www.scrumstudy.com/certification/verify?type=SFC&number=960552" target="_blank"><strong>SCRUM Fundamentals Certificate</strong></a></li>
            <li><a href="https://certificates.cs50.io/98184f7d-7b54-4ffd-9e9d-c90699d39cb6.pdf" target="_blank"><strong>CS50's Introduction to Programming with Python</strong></a></li>
            <li><a href="https://cursos.alura.com.br/degree/certificate/1d24c6d8-4e3a-4be4-8c59-2b1915dbe27d" target="_blank"><strong>Front-End with React.JS (Oracle ONE)</strong></a></li>       
        </ul>     
    <p>I also have <a href="https://www.efset.org/cert/QQKJU7">certified english!</a></p>
    
    <p>My areas of interest includes: <strong>HTML/CSS</strong>, <strong>JavaScript</strong>, <strong>React.JS</strong>, <strong>Python</strong> & <strong>Flask</strong>.</p>


</main>

{% endblock %}
