{% extends 'base.html' %}

{% block content %} 
<main class="main main--content">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:matheus.zuti@gmail.com">
                    matheus.zuti [at] gmail.com
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>GitHub:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://github.com/AmigoDaLua" target="_blank">
                    @AmigoDaLua
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>LinkedIn:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://www.linkedin.com/in/matheus-pereira-antunes-5237ba260/" target="_blank">
                    Matheus Pantunes
                </a>
            </dd>
        </div>
    </dl>
</main>
{% endblock %}